.top-nav-bar__topic-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 24px;
}
.icons {
  display: flex;
  justify-content: space-between;
}
.icons > *:first-child {
  margin-right: 15px; /* Adjust the value as needed */
}