// d
.dark-mode {
  background-color: rgb(21, 20, 20);

 .photo-list__user-info {
  color: white;
}
.topic-list__item span {
  color: #8b8282;

  &:hover {
    color: #d6cbcb;
  }
}
.top-nav-bar__logo {
  color: #8b8282;
}
.fav-badge__count span{
  color: rgb(21, 20, 20);
}
.photo-details-modal {
  background-color: rgb(21, 20, 20);
}
.photo-details-modal__close-button {
  background-color: rgb(93, 77, 77);
  border: solid;
  border-color: #d6cbcb;
  border-radius: 25%;
}
.photo-details-modal__header {
  color: #8b8282;

}
}